
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>盈安物流公司管理系统</title>
    <link href="~/Zoter/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <link href="~/Zoter/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Zoter/style.css" rel="stylesheet" type="text/css">
    <style>
        .clearfix {
            height:70.5px;
        }
    </style>
</head>
<body class="fixed-left" style="overflow: visible;">

    <div id="wrapper">
        <div class="left side-menu">
            <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                <i class="ion-close"></i>
            </button>
            <div class="topbar-left">
                <div class="text-center">
                    <a href="#" class="logo"><font color="white" size="20">YAConpay</font></a>
                </div>
            </div>
            <div class="sidebar-inner niceScrollleft" tabindex="5000" style="overflow: hidden; outline: none;">
                <div id="sidebar-menu" class="active">
                    <ul>
                        <li class="menu-title"><a href="/Home/Index1">首页</a></li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><span>员工管理 </span></a>
                            <ul class="list-unstyled">
                                <li><a href="/Staff/Index">员工信息</a></li>
                                <li><a href="/Staff/Insert">添加员工</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><span>网点客户管理 </span><span class="float-right"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="/Site/Index">网点客户信息</a></li>
                                <li><a href="/Site/Create">添加网点</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><span>仓库管理 </span><span class="float-right"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="/Warehouse/Index">仓库信息</a></li>
                                <li><a href="/Warehouse/Create">添加货物</a></li>
                                <li><a href="/Sell/Index">出货信息</a></li>
                                <li><a href="/Sell/Create">出货</a></li>
                                <li><a href="/Buy/Index">进货货信息</a></li>
                                <li><a href="/Buy/Create">进货</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><span>财务管理 </span><span class="float-right"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="/Collect/Index">收入详情</a></li>
                                <li><a href="/Collect/Create">添加收入</a></li>
                                <li><a href="/Pay/Index">支出详情</a></li>
                                <li><a href="/Pay/Create">添加支出</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><span>物资管理 </span><span class="float-right"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="/Goods/Index">物资信息</a></li>
                                <li><a href="/Goods/Create">购买物资</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><div class="clearfix"></div>
            </div>

        </div><div class="content-page">
            <div class="content">
                <div class="topbar">
                    <nav class="navbar-custom">
                        <ul class="list-inline float-right mb-0">
                            <li class="list-inline-item dropdown notification-list text-white">个人信息</li>
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    @*<img src="#" alt="@Session["Name"]" class="rounded-circle hidden" >*@
                                    <div style="width:50px;color:white;height:80px">@Session["Name"]</div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <div class="dropdown-item noti-title"><h5>欢迎 @Session["Name"]登录</h5></div>
                                    <a class="dropdown-item" href="/Login/Index">登录</a>

                                    <a class="dropdown-item" href="/Login/Index">注销</a>
                                </div>
                            </li>
                        </ul>

                        <div class="clearfix">
                        </div>
                    </nav>
                </div><div class="page-content-wrapper ">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div><footer class="footer">© @DateTime.Now  by 盈安物流公司管理系统</footer>
        </div>
    </div>
    <script src="~/Zoter/jquery.min.js"></script>
    <script src="~/Zoter/popper.min.js"></script>
    <script src="~/Zoter/bootstrap.min.js"></script>
    <script src="~/Zoter/jquery.nicescroll.js"></script>
    <script src="~/Zoter/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>