
@{
    ViewBag.Title = "Index";
}

@{ 
    List<Models.Type> tList = ViewBag.TypeList;
}
@model List<Models.Good>
    <div class="">
        <div class="panel" style="padding-left:2em">
          @foreach (var item in tList.Where(p=>p.PID==null))
          {
              <p>
                  <strong>@item.TypeName</strong>;
                  @foreach (var item2 in tList.Where(a=>a.PID==item.ID))
                  {
                      <a href="/Goods/Index?typeId=@item2.ID" class="btn btn-link">
                          @item2.TypeName
                      </a>
                  }
              </p>
          }
        </div>
    </div>

    <div class="row">
        @foreach(var item1 in Model)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/Good/@item1.Photo" alt="...">
                    <div class="caption">
                        <h3>￥@string.Format("{0:C}",item1.SellingPrice)</h3>
                        <h4 style="text-decoration:line-through;color:gray;">@item1.CostPrice</h4>
                        <p>@item1.GoodName</p>
                        <p><a href="#" class="btn btn-primary" role="button" onclick="AddCart(@item1.Id)">加入购物车</a> 
                        <a href="#" class="btn btn-default" role="button">购买</a></p>
                    </div>
                </div>
            </div>
        }

    </div>
@section scripts{
    <script type="text/javascript">
        function AddCart(a) {
            var GoodId = a;

            $.ajax({
                url: "/Goods/AddCart",
                data: { "GoodId": GoodId },
                success: function () {
                    alert("成功加入购物车！我在购物车等你哟！");
                }
            })
        }

    </script>
    }