
@{
    ViewBag.Title = "Datails";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

@using YAConpay.Models
@model Buy
<h2 style="text-align:center">货物详情</h2>
<form>
    <div>
        <input type="hidden" name="WarehouseID" value="@Model.Buy1" />
        <label> 货物名称：</label>
        <lable>@Model.Warehouse.WarehouseName</lable>
        <br />
        <label> 货物数量：</label>
        <label>@Model.BuyNum</label>
        <br />
        <label> 货物类型：</label>
        <label>
            @Model.BuyCategory
        </label>
        <br />
        <label> 货物详情：</label>
        <label>
            @Model.BuyDetails
        </label>
        <br />
        <a class="btn btn-secondary" href="/Buy/Eidt/@Model.Buy1">修改</a>
        <a class="btn btn-secondary" href="/Buy/Index">返回</a>
    </div>
</form>

